* {
  margin: 0;
  padding: 0; }

nav ul li {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 20px; }

.logo {
  width: 210px;
  height: 210px;
}

.navbar-nav {
  background-color: none; }

.flexLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }

.titulo {
  padding-left: 50px; }

.header {
  border-bottom: 1px solid black; }

nav ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.lineaNav {
  border-bottom: 1px solid black; }

.navegador {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.borde {
  position: relative;
  margin-top: 30px; }

.container-fluid {
  padding: 0px; }

.bordeTitulo {
  display: flex;
  position: relative;
  left: 120px;
  justify-content: flex-end;
  align-items: center; }

.container-fluid {
  overflow: hidden; }

.colTitulo {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px; }

.contenedorAutos {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px; }

.flexContenedorAutos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }

.imagenContenedor {
  overflow: hidden; }

.anchoImagenContenedor {
  width: 100%; }

.centrarTitulo {
  margin-top: 10px;
  text-align: center; }

.textoContenedor {
  display: flex;
  flex-direction: column; }

.paddingBottom {
  margin-bottom: 10px; }

.flexQuienes {
  display: none;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 50px; }

.quienesSomos {
  width: 150px;
  font-size: 35px; }

.linea {
  border-right: 2px solid #38610B ;
  margin-right: 20px;
  padding-left: 20px; }

.pQuienesSomos {
  margin: 0;
  margin-left: 15px;
  display: flex;
  align-items: center; }

.anchoCarousel {
  width: 1200px; }

.anchoImagenCarousel {
  width: 500px;
  height:390px }

.flexCarousel {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.marginAutos {
  margin-top: 50px; }

.imagenes {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.anchoContacto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }

.botonesContacto {
  width: 600px;
  margin-top: 50px; }

.tituloContacto {
  text-align: center; }

.linea {
  color: red; }

.flexBotones {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.achicarBotones {
  width: 400px; }

.centrarBotones {
  display: flex;
  justify-content: center; }

.botonEnviar {
  height: 80px;
  width: 200px;
  border-radius: 10px;
  background-color: black;
  margin-top: 30px; }

.bordeBotones {
  border-radius: 10px; }

.nuestrosVehiculos {
  position: relative;
  display: flex;
  justify-content: center; }

.titulodescVehiculo {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.descVehiculo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.descVehiculo, .titulodescVehiculo {
  margin-right: 20px; }

.contenido {
  padding-right: 40px; }

.audi {
  height: 300px;
  border: 1px solid black;
  border-radius: 10px; }

.centrarAudi, .centrarPorsche, .centrarBugatti {
  display: flex;
  justify-content: center; }

.porsche911 {
  height: 240px;
  border: 1px solid black;
  border-radius: 10px; }

.bugatti {
  height: 250px;
  border: 1px solid black;
  border-radius: 10px; }

.botonesContacto {
  height: 620px; }

.tituloOfertas {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.ofertas {
  margin: 0;
  margin-top: 50px;
  border-bottom: 1px solid black; }

.achicarSelect {
  width: 250px; }

.marginVehiculos {
  margin-bottom: 10px; }

.submitCentrar {
  height: 50px;
  display: flex;
  justify-content: center; }

.marginTopSubmit {
  margin-top: 15px; }

.facebook, .instagram, .twitter {
  height: 40px;
  position: relative; }

footer {
  display: flex;
  justify-content: space-around;
  background-color: #fcf5f9; }
  /* #38610B */

.redes {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center; }

textarea {
  resize: none; }

.flexRedes {
  position: relative;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.footerIdeal{
  text-align: center;
}
.footerIdeal {
  font-size: 20px;
  align-items: center; }

.derechos {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 300px; }

.redesTitulo {
  font-size: 30px;
  margin-left: 50px; }

.logearse {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tenesCuenta {
  margin-top: 10px; }

.instagram:hover {
  transform: scale(2); }

.facebook:hover, .instagram:hover, .twitter:hover {
  transform: scale(2); }

.twitter:hover {
  transform: scale(2); }

.containerOnix {
  display: flex;
  justify-content: center; }

.onix {
  position: relative;
  height: 300px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px; }

.marcasVehiculos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center; }

.selectVehiculos {
  width: 100px; }

.flexImagenes {
  display: flex;
  justify-content: center; }

.bmw, .maserati {
  width: 300px;
  border: 1px solid black;
  margin-top: 40px; }

.numero {
  margin-top: 5px; }

.contenedor-formulario {
  display: flex;
  justify-content: center; }

.formulario {
  height: 800px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start; }

.modificar-control {
  padding-left: 10px; }

.marginEmail {
  margin-top: 10px; }

.marginDescVehiculo {
  margin-top: 25px; }

.formContacto {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.nombreApellido {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px; }

.paddingControl {
  padding-right: 10px; }

.descripcionAuto {
  margin-top: 5px; }

.buttons {
  display: flex;
  justify-content: center; }

.marcas {
  margin-top: 5px; }

.probandoRedes {
  display: flex; }

.centrarCard {
  width: 100px;
  align-content: center; }

/* .card-title, .card-text, .btn-primary {
  text-align: center; } */

.btn-primary {
  position: relative;
  left: 70px;
  display: flex;
  justify-content: center; }

@media only screen and (max-width: 1023px) {

  .header {
    border-bottom: 0px; }
  .flexLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50px; }
  .achicarBordes {
    width: 99%; }
  .footer {
    width: 100%; }
  .titulo {
    font-size: 25px;
    text-align: center; }
  .colLogo {
    background-color: #fcf5f9;
    justify-content: center;
    padding-right: 50px; }
  .bottonPosition {
    justify-content: flex-end; }
  nav ul a {
    font-size: 15px; }
  .anchoCarousel {
     width: 390px; }  
  .tituloNuestrosVehiculos{
    text-decoration: underline;
  }
  .anchoImagenContenedor{
    width: 390px;
    margin-right: 5px;}
  .paddingBottom{
    text-align: center;
  }
  .bottonPosition{
    display: flex;
    justify-content: center;
    margin-left: 40px;
  }
  .menu{
    margin-left:5px;
    margin-top: 12px;
  }
  .navbar-nav {
    display: flex;
    text-align: center; }
  .descVehiculo, .titulodescVehiculo {
    margin: 20px; }
  .paddingAutos {
    padding-right: 40px;
    padding-left: 40px; }
  .descVehiculo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px; }
  .facebook, .instagram, .twitter {
    height: 30px;
    padding-left: 15px; }
  .footerIdeal {
    font-size: 20px;
    margin-bottom: 43px; }
  .derechos {
    display: none;
    font-size: 12px; }
  .flexDerechos {
    justify-content: center; }
  .redesTitulo {
    display: none; }
  .flexRedes {
    position: relative;
    left: 30px;
    width: 100px;
    margin: 0px;
    bottom: 20px;
    justify-content: space-around; }
  .probandoRedes {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tenesCuenta {
    font-size: 20px; }
  .ingresarFooter {
    font-size: 12px; }
  .registrarseFooter {
    font-size: 12px; } }

    .card{
      border:0;
      background-color: white;
      margin-right: 50px;
      display: flex;
      flex-direction: row;
      background-color: #FCF3CF;
    }

    .card-img-top{
      width: 190px;
      height: 150px;
    }

    .card-body{
      padding: 0;
      padding-left: 20px;
    }

    .card-title{
      font-size: 20px;
    }
    
    .card-text{
      margin:0;
      margin-top: 5px;
      margin-left: 6px;
      width: 200px;
      font-size: 14px;
    }

    .precio{
      font-weight: bold;
      font-size: 17px;
      margin-left: 40px;
    }

    .probandoRedes{
      width: 300px;
      display: flex;
      justify-content: center;
    }
    .tituloOfertas{
      margin: 0;
    }

    .flexLogo{
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .titulo{
      padding: 0;
    }

    .logo {
      width: 230px;
      height: 210px;
    }

    .bg-dark, .paddingDark {
      padding: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 15px;
      background-color: white!important;
  }

  .nav-item.dropdown{
    padding: 0px;
  }

  .dropdown{
    display: flex;
    flex-direction: column;
  }

  .margenA{
    color: black;
    font-size: 20px;
    margin-top: 20px;
  }

  .probandoRedes{
    margin-top: 10px;
    display: flex;
    width: 100%;
  }

  .flexRedes{
    display: flex;
    justify-content: space-around;
    width: 82%;
  }

  nav ul li{
    margin-top: 0;
  }
  
  .card-body{
    padding-left: 10px;
  }

  body{
    background-color: white;
    /*  #FCF3CF  */
  }

  .containerDias{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fontHorarios{
    margin-bottom: 0;
    font-size: 17px;
  }

  .horarios{
    font-size: 14px;
  }

/* RESPALDOS */

.navRespaldos{
  justify-content: center;
}

.spanRespaldos, .navbar-toggler{
  padding: 8px;
}

.spanRespaldos{
  font-size: 30px;
  color: black;
}
.navbar-dark .navbar-toggler {
  border-color: black;
}

.ventasMayor{
  font-size: 36px;
}

.whatsapp{
  width: 75px;
}

footer{
  height: 120px;
  align-items: center;
}

.logoFooter{
  width: 100px;
  height: 100px;
}

.inicioColor, .ecocueroColor, .chenilleColor{
  color: black;
  font-weight: bold;
}

.containerRespaldos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanRespaldos, .navbar-toggler {
  padding: 4px;
}

.navbar-dark:hover .navbar-toggler:hover {
  background-color: grey;
}
